<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>Register</servlet-name>
  	<display-name>Register</display-name>
  	<description></description>
  	<servlet-class>com.AirlineReservationSystem.controller.Register</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Login</servlet-name>
  	<display-name>Login</display-name>
  	<description></description>
  	<servlet-class>com.AirlineReservationSystem.controller.Login</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Registration</servlet-name>
  	<display-name>Registration</display-name>
  	<description></description>
  	<servlet-class>com.AirlineReservationSystem.controller.Registration</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginAdmin</servlet-name>
  	<display-name>/LoginAdmin</display-name>
  	<description></description>
  	<servlet-class>com.AirlineReservationSystem.controller.LoginAdmin</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>flight</servlet-name>
  	<display-name>flight</display-name>
  	<description></description>
  	<servlet-class>com.AirlineReservationSystem.controller.flight</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddFlight</servlet-name>
  	<display-name>AddFlight</display-name>
  	<description></description>
  	<servlet-class>com.AirlineReservationSystem.controller.AddFlight</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EditFlight</servlet-name>
  	<display-name>EditFlight</display-name>
  	<description></description>
  	<servlet-class>com.AirlineReservationSystem.controller.EditFlight</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddFlights</servlet-name>
  	<display-name>AddFlights</display-name>
  	<description></description>
  	<servlet-class>com.AirlineReservationSystem.controller.AddFlights</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ResetPassword</servlet-name>
  	<display-name>ResetPassword</display-name>
  	<description></description>
  	<servlet-class>com.AirlineReservationSystem.controller.ResetPassword</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Register</servlet-name>
  	<url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Login</servlet-name>
  	<url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Registration</servlet-name>
  	<url-pattern>/Registration</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginAdmin</servlet-name>
  	<url-pattern>/LoginAdmin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>flight</servlet-name>
  	<url-pattern>/flight</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddFlight</servlet-name>
  	<url-pattern>/AddFlight</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EditFlight</servlet-name>
  	<url-pattern>/EditFlight</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddFlights</servlet-name>
  	<url-pattern>/AddFlights</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ResetPassword</servlet-name>
  	<url-pattern>/ResetPassword</url-pattern>
  </servlet-mapping>
</web-app>
